body{
    background-color: blanchedalmond;
    padding: 30px;
    margin-left: 500px;
    font-size: 30px;
}
h2{
    margin-left: 150px;
}

button{
    width: 400px;
    height: 50px;
    font-size: 30px; 
}